In [1]:
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
oil_df=pd.read_csv("oil.csv")
hol_df=pd.read_csv("holidays_events.csv")
train_df=pd.read_csv("train.csv")
trans_df=pd.read_csv('transactions.csv')
test_df=pd.read_csv('test.csv')
store_df=pd.read_csv('stores.csv')
sub_df=pd.read_csv("sample_submission.csv")

In [3]:
train_df['onpromotion'].fillna(0, inplace=True)
test_df['onpromotion'].fillna(0,inplace=True)

In [4]:
train_df['date'] = pd.to_datetime(train_df['date'])
test_df['date'] = pd.to_datetime(test_df['date'])
train_df['year'] = train_df['date'].dt.year
train_df['month'] = train_df['date'].dt.month
train_df['day'] = train_df['date'].dt.day
test_df['year'] = test_df['date'].dt.year
test_df['month'] = test_df['date'].dt.month
test_df['day'] = test_df['date'].dt.day

In [5]:
X_train = pd.get_dummies(train_df, columns=['family'], drop_first=True)
Y_train = pd.get_dummies(test_df, columns=['family'], drop_first=True)

In [6]:
X_train = train_df.drop(['sales','date'], axis = 1)
Y_train = train_df['sales']

In [7]:
X_test = test_df.drop(['date'], axis=1)

## Normalization

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Transform 'family' column for training data
train_df['family'] = le.fit_transform(train_df['family'])

# Transform 'family' column for test data
test_df['family'] = le.transform(test_df['family'])

# Assuming 'sales' is the target variable
Y_train = train_df['sales']
X_train = train_df.drop(['sales',  'date'], axis=1)

# Assuming X_test is your test data
X_test = test_df.drop(['date'], axis=1)

## Merge dateset oil to this shit

In [46]:
train_df.head(),test_df.head()

(   id       date  store_nbr  family  sales  onpromotion  year  month  day
 0   0 2013-01-01          1       0    0.0            0  2013      1    1
 1   1 2013-01-01          1       1    0.0            0  2013      1    1
 2   2 2013-01-01          1       2    0.0            0  2013      1    1
 3   3 2013-01-01          1       3    0.0            0  2013      1    1
 4   4 2013-01-01          1       4    0.0            0  2013      1    1,
         id       date  store_nbr  family  onpromotion  year  month  day
 0  3000888 2017-08-16          1       0            0  2017      8   16
 1  3000889 2017-08-16          1       1            0  2017      8   16
 2  3000890 2017-08-16          1       2            2  2017      8   16
 3  3000891 2017-08-16          1       3           20  2017      8   16
 4  3000892 2017-08-16          1       4            0  2017      8   16)

In [47]:
X_train.head(),X_test.head()

(   id  store_nbr  family  onpromotion  year  month  day
 0   0          1       0            0  2013      1    1
 1   1          1       1            0  2013      1    1
 2   2          1       2            0  2013      1    1
 3   3          1       3            0  2013      1    1
 4   4          1       4            0  2013      1    1,
         id  store_nbr  family  onpromotion  year  month  day
 0  3000888          1       0            0  2017      8   16
 1  3000889          1       1            0  2017      8   16
 2  3000890          1       2            2  2017      8   16
 3  3000891          1       3           20  2017      8   16
 4  3000892          1       4            0  2017      8   16)

## Model

In [35]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

train_model = DecisionTreeRegressor(random_state=1)
train_model.fit(X_train, Y_train)

DecisionTreeRegressor(random_state=1)

In [36]:
predictions = train_model.predict(X_test)

In [39]:
result_df = pd.DataFrame({id: test_df['id'], 'sales' : predictions})

In [40]:
result_df.to_csv('sales_prediction_sat.csv',index = False)

In [41]:
result_df.head()

   <built-in function id>   sales
0                 3000888     4.0
1                 3000889     0.0
2                 3000890     9.0
3                 3000891  2977.0
4                 3000892     0.0

In [42]:
result_df = pd.DataFrame({'id': test_df['id'], 'sales': predictions})

In [43]:
result_df.head()

        id   sales
0  3000888     4.0
1  3000889     0.0
2  3000890     9.0
3  3000891  2977.0
4  3000892     0.0

In [44]:
result_df.to_csv('sales_prediction_sat1.csv',index = False)